<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
	<div *ngIf="data.type === 'AddPage'">
		<mat-form-field>

			<input matInput placeholder="Page Name" [(ngModel)]="data.value">
  </mat-form-field>
  </div>
 <div *ngIf="data.type === 'AddPortlet'">
  <table mat-table [dataSource]="data.value"  >  
  <ng-container matColumnDef="isSelected">    
    <td mat-cell *matCellDef="let element"  >  <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox> </td>
  </ng-container>
  <ng-container matColumnDef="displayVal">   
    <td mat-cell *matCellDef="let element" style="padding-left:20px;"> {{element.displayVal}} </td>
  </ng-container>   
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">cancel</button>
  <button mat-button [mat-dialog-close]="data.value" cdkFocusInitial>Ok</button>
</div>